<header class="bg-white box-shadow-key-1 animated">
  <div class="flex items-center">
    <div class="flex items-center">
      <figure class="m0 border-right border-silver-transparent logo p1 px2">
        <img src="images/logo.svg" alt=""></img>
      </figure>
      <h1 class="h3 my0 regular ml2 dark-gray">Persona Monitor</h1>
    </div>
    <div class="flex-auto px3 xs-hide">
      <div class="flex items-center justify-end">
        <i class="material-icons mr1 green">code</i>
        <h4 class="m0 regular muted">HACK DAY / NOV 2016</h4>
      </div>
    </div>
  </div>
</header>
